/* body > *, article, form {
    border: 2px solid blue;
    margin: 5px;
} */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.5;
}

:root {
    --border: 2px solid gray;
    --padding: 20px;
    /* Förslag på färger nedan (endast exempel) */
    --blue: #5C7AFF;
    --pink: #FF85BA;
    --green: #66b77d;
    --yellow: #FFD65C;
    --red: #ee6958;
    --lightgray: #F5F5F5;
    --gray: #D9D9D9;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr 8fr 1fr;
    grid-template-areas: 
    "header header"
    "aside main"
    "form main"
    "footer footer";
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    background-color:var(--red);
    padding: var(--padding);
    border-bottom: var(--border);
}

main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: var(--gray);
    border-left: var(--border);
    padding: var(--padding);
    gap: 10px;

    /* Css för dropdown ===Mats och Sylwia=== */
    .navbar {
        width: 100%;
        height: 3rem;
        background-color: var(--lightgray);
        display: flex;
        flex-direction: row;
        align-items: center;
        
        h5 {
            margin-left: 1rem;
        }
    }

    .dropbutton {
        background-color: var(--gray);
        border-width: 2px;
        color: rgb(0, 0, 0);
        cursor: pointer;
        height: 30px;
        width: 70px;
        margin-left: 1rem;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #535ed4;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content button {
        color: rgb(0, 0, 0);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
     
    .dropdown-content button:hover {background-color: #5f3333}
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .dropdown:hover .dropbutton {
        background-color: #8e7e3e;
    }
}

#monster-card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: var(--lightgray); */
    /* padding: 10px; */
    gap: 20px;
    justify-content: space-between;

    .monster-card {
    background-color: var(--lightgray);
    border-radius: 10px;
    max-width: fit-content;
    min-height: fit-content;
    text-indent: 10px;
    
    h3 {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;  
        padding-right: 10px;
    }
    
    p {
        min-width: 200px;
        background-color: var(--lightgray);
        line-height: 2;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-right: 10px;
    }
}
}

.monster-card.röd {
    h3 {
        background-color: var(--red);
    }
}

.monster-card.rosa {
    h3 {
        background-color: var(--pink);
    }
}

.monster-card.blå {
    h3 {
        background-color: var(--blue);
    }
}

.monster-card.grön {
    h3 {
        background-color: var(--green);
    }
}

.monster-card.gul {
    h3 {
        background-color: var(--yellow);
    }
}

aside {
    grid-area: aside;
    display: flex;
    flex-wrap: wrap;
    padding: var(--padding);
    justify-content: space-between;
    
    border-bottom: var(--border);
    
    li {
        list-style: none;
    }

    /* // Olika färg varannan rad i lista */
    li:nth-child(even) {
        background-color: var(--lightgray);
    }
}

form {
    grid-area: form;
    padding: var(--padding);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content max-content max-content 1fr;
    grid-template-areas:
    "h2 h2"
    "monster-name monster-type"
    "monster-colour monster-attribute"
    "button button";

    h2 {
        grid-area: h2;
        align-self: center;
        justify-self: center;
    }
 
    #monster-name {
        grid-area: monster-name;
    }

    #monster-type {
        grid-area: monster-type;
    }
   
    #monster-colour {
        grid-area: monster-colour;

        span {
            display: flex;
            justify-content: space-around;
        }
        
        #röd {
            accent-color: var(--red);
        }
        #rosa {
            accent-color: var(--pink);
        }
        #blå {
            accent-color: var(--blue);
        }
        #grön {
            accent-color: var(--green);
        }
        #gul {
            accent-color: var(--yellow);
        }
    }

    #monster-attribute {
        grid-area: monster-attribute;

        div {
            display: flex;
            justify-content: space-between;
        }

    }
   
    button {
        grid-area: button;
        justify-self: end;
        align-self: end;
        
    }
}

footer {
    grid-area: footer;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
}

@media (max-width: 800px) {
    body {
        display: grid;
        min-height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 5fr 3fr 1fr;
        grid-template-areas: 
        "header"
        "form"
        "main"
        "aside"
        "footer";
    }

    header {
        border-bottom: var(--border);
    }

    /* form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1.5fr 2.5fr 0.5fr;
        grid-template-areas: 
        "h2 h2"
        ;

        h2 {
            grid-area: h2;
        }
        button {
            grid-column: 2;
        }
    } */

    main {
        border-top: var(--border);
        border-bottom: var(--border);
        border-left: 0;
    }

    .monster-card {
        max-height: fit-content;
        max-width: fit-content;
        
        h3 {
            text-indent: 0;
            min-height: 50px;
            width: fit-content;
            padding: 15px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        p {
            display: none;
        }
    }

    aside {
        border: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr;
        grid-template-areas: 
        "h2 h2";

        h2 {
            grid-area: h2;
        }
    }

    footer {
        border-top: var(--border);
    }
}